<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctsi.ssdc.project.mapper.SrCamerasInfoMapper">

    <select id="getPage" parameterType="com.ctsi.ssdc.project.domain.SrCamerasInfo" resultType="com.ctsi.ssdc.project.domain.SrCamerasInfo">
        select  a.*,b.name as regionIndexName from sr_cameras_info a,sr_regions_info b
        where 1=1
         and a.region_index_code = b.index_code
        <if test="cameraIndexCode != null and cameraIndexCode!=''">
           and  a.camera_index_code =#{cameraIndexCode}
        </if>
        <if test="cameraName != null and cameraName!=''">
          and a.camera_name like concat('%', #{cameraName}, '%')
        </if>
        <if test="regionIndexCode!=null and regionIndexCode!=''">
            and find_in_set (a.region_index_code,#{regionIndexCode})
        </if>
    </select>


    <select id="getSrCamerasVo" parameterType="java.lang.String" resultType="com.ctsi.ssdc.project.domain.SrCamerasVo">
        select id,camera_index_code,camera_name from sr_cameras_info where region_index_code = #{regionIndexCode}
    </select>
</mapper>

