<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctsi.ssdc.project.mapper.SrClassInfoMapper">

    <select id="getSrClassBySchool" parameterType="java.lang.String"
            resultType="com.ctsi.ssdc.project.domain.SrClassInfo">
        select a.id          as id,
               a.grade_id    as gradeId,
               a.class_name  as className,
               a.remark      as remark,
               a.create_by   as createBy,
               a.create_time as createTime,
               b.school      as school
        from sr_class_info a,
             sr_grade_info b
        where a.grade_id = b.id
          and b.school = #{school}
    </select>

    <select id="getSrClassByGradeId" parameterType="java.lang.Long"
            resultType="com.ctsi.ssdc.project.domain.SrClassInfo">
        select id          as id,
               grade_id    as gradeId,
               class_name  as className,
               remark      as remark,
               create_by   as createBy,
               create_time as createTime

        from sr_class_info
        where grade_id = #{gradeId}

    </select>

    <select id="getPage" parameterType="com.ctsi.ssdc.project.domain.SrClassInfo"
            resultType="com.ctsi.ssdc.project.domain.SrClassInfo">
        select
        a.id as id,
        a.grade_id as gradeId,
        a.class_name as className,
        a.remark as remark,
        a.create_by as createBy,
        a.create_time as createTime,
        b.school as school,
        b.name as gradeName
        from
        sr_class_info a,sr_grade_info b
        where a.grade_id = b.id
        <if test="school != null and school !=''">
            and b.school = #{school}
        </if>
        <if test="gradeName != null and gradeName !=''">
            and b.name = #{gradeName}
        </if>
        <if test="className != null and className != '' ">
            and a.class_name = #{className}
        </if>
        order by a.create_time desc
    </select>


    <select id="getExistClassInfo" parameterType="java.lang.String"
            resultType="com.ctsi.ssdc.project.domain.SrClassInfo">
        select a.id          as id,
               a.grade_id    as gradeId,
               a.class_name  as className,
               a.remark      as remark,
               a.create_by   as createBy,
               a.create_time as createTime,
               b.school      as school,
               b.name        as gradeName
        from sr_class_info a,
             sr_grade_info b
        where a.grade_id = b.id
          and b.school = #{school}
          and b.name = #{grade}
          and a.class_name = #{className}
    </select>


    <select id="getClassNUm" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from sr_class_info a,
             sr_grade_info b
        where a.grade_id = b.id
          and b.school = #{school}
    </select>

    <select id="getClassReport" parameterType="java.lang.Long" resultType="com.ctsi.ssdc.project.domain.ClassReport">
        select id,class_name
        from sr_class_info
        where grasde_id = #{gradeId}
    </select>
</mapper>